nav {
  background-color: rgb(85, 43, 21);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: blanchedalmond;
}
nav a {
  color: blanchedalmond;
}

body {
  background-color: rgb(137, 133, 129);
  text-align: center;
  color: rgb(77, 49, 14);
}
body a {
  color: rgb(92, 62, 15);
}


